.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
}

.modal p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.modal button {
    align-self: flex-end;
}